/*Importando fontes*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*Zerando tudo*/
*{
	margin: 0px;
	padding: 0px;

}

/*Inserindo imagem de fundo no header*/ 
header{     
	background: url(../images/banner.jpg) no-repeat;     
	background-size: 100% auto; 
}

/*Estilo do logo e do menu de navegação*/ 
header div.top-header{
	background-color: rgba(32, 31, 27, 0.7);
	padding: 30px 0px 50px 0px;
}
header div.top-header figure.header-logo{
	margin-left: 30px;
	float: left;
}
header div.top-header nav{
	position: absolute;
	right: 10%;
}
header div.top-header nav ul.header-nav li{
	display: inline;
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	color: #fff;
	margin-left: 20px;
	font-weight: bolder;	

}

/*Estilo dos links do menu de navegação*/
header div.top-header nav ul li a{
	text-decoration: none;
	color: #fff;
}
header div.top-header nav ul li a:hover{
	color: #70747c;
}

/*Estilo do texto do header*/
header div.mid-header p.header-mid-text{
	color: white;
	font-family: Montserrat, sans-serif;
	font-size: 52px;
	font-weight: bolder;
	text-shadow: 2px 2px #000;
	letter-spacing: 3px;
}
header div.header-text{
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 20% 0px;
	
}
header div.mid-header img{
	margin-right: 15px;

}

/*Estilo dos dois boxes finais presentes no header*/
header div.bottom-header p.header-bottom-text span{
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 25px;
	font-weight: bolder;
	border: white solid 4px;
	padding: 6px;
	border-radius: 3px;
	text-shadow: 1px 1px black;
	margin-left: 10px;
}

/*Afastamento superior dos dois boxes com o texto no header*/
header div.header-text div.bottom-header{
	margin-top: 50px;
}

/*----------------------------------------------------------------------------------------*/

/*Estilo da setion do trainee*/
section.section-trainee{
	margin-top: 100px;
	height: 250px;
	border-bottom: 1px solid #babdc1;
}

/*Estilo de TODO texto da section*/
section.section-trainee div.trainee-text{
	font-family: Montserrat, sans-serif;
	margin-left: 500px;
	margin-right: 200px;

}

/*Estilo do TÍTULO da section*/
section.section-trainee div.trainee-text h2{
	color: #EB6608;
	font-weight: bolder;
	font-size: 35px;
	margin-bottom: 40px;
}

/*Estilo do PARÁGRAFO da section*/
section.section-trainee div.trainee-text p{
	text-align: justify;
}

/*Estilo da FIGURA da section*/
section.section-trainee figure.trainee-image{
	float: left;
}
/*----------------------------------------------------------------------------------------*/

/*Estilo da section dos conteúdos*/
/*Estilo de TODA section*/
section.section-conteudo{
	font-family: Montserrat, sans-serif;
	width: 100%;
	margin-top: 100px;
	height: 400px;
}

/*Estilo de TODO o TÍTULO*/
section.section-conteudo div.conteudo-titulo{
	text-align: center;
}
section.section-conteudo div.conteudo-titulo h2{
	color: #EB6608;
	font-size: 35px;
	font-weight: bolder;
	display: inline-block;
	width: 350px;

}
section.section-conteudo div.conteudo-titulo h2:before{
	content: "";
	height: 35px;
	width: 3px;
	background-color: #EB6608;
	float: right;
}
/*Estilo para retirar a última barra laranja*/
section.section-conteudo div.conteudo-titulo h2#conteudo-last-element:before{
	content: "";
	background-color: white;
	float: right;
	height: 35px;
	width: 3px;
}


/*Estilo dos cursos disponíveis*/
section.section-conteudo div.conteudo-table{
	border-spacing: 10px;
	margin-left: 100px;
}
section.section-conteudo div.conteudo-tableRow{
	display: table-row;
}
section.section-conteudo div.conteudo-tableCell{
	display: table-cell;
	background-color: #D65B43;
	width: 250px;
	text-align: center;
	padding-bottom: 0px;
	border: grey solid 2px;
	box-shadow: 1px 1px grey;
}
section.section-conteudo p{
	text-align: left;
	color: white;
	padding-left: 10px;
}
section.section-conteudo p.table-paragraph-up{
	letter-spacing: 1px;
}
section.section-conteudo p.table-paragraph-down{
	font-weight: bolder;
	letter-spacing: 0.2px;
	padding-bottom: 12px;
}
section.section-conteudo div.bottom-table{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 10px;
}
section.section-conteudo div.bottom-table p.bottom-table-paragraph-up{
	color: black;
}
section.section-conteudo div.bottom-table p.bottom-table-paragraph-down{
	background-color: #FF7F00;
	margin: 20px 10px 0px 10px;
	padding: 20px 0px 20px 0px;
	border-radius: 20px;
	text-align: center;
	margin: 	
}